<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
  <!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">TP Ticketera- Base de datos II</span>
  </div>
</nav>
<br>
<div class="container">
  <h4>Tickets con desperfectos:</h4>
  <div class="d-grid gap-2">
    <button class="btn btn-success" type="button" (click)="getTicketsDesperfectos()" >Tickets con desperfectos</button>
    <button class="btn btn-success" type="button" (click)="getTicketsDesperfectosResueltos()">Tickets resueltos por desperfectos</button>
    <button class="btn btn-success" type="button" (click)="getTicketsDesperfectosCadaCuanto()">Cada cuantos dias hay desperfectos</button>
  </div>
</div>
<br>
<table class="table" *ngIf="desperfecto !== '' && ticketsDesperfectos !== ['']">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Resultado de la consulta</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope="row">#</th>
    
      <td>{{this.desperfecto}}</td>
    </tr>
   
  </tbody>
</table>

  <div class="container">
    <h4>Zonas:</h4>
    <div class="d-grid gap-2">
      <button class="btn btn-success" type="button" (click)="getTicketsDesperfectosZona()">Localidad donde ocurren y motivos desperfectos</button>
      <button class="btn btn-success" type="button" (click)="getTicketsZonaCentros()">Localidad del centro más concurrido</button>
      <button class="btn btn-success" type="button" (click)="getTicketsZonaClientes()">Localidad con más clientes</button>
    </div>
  </div>
  <br>
  <table class="table" *ngIf="zona !== '' && ticketsZona !== []">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Resultado de la consulta</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope="row">#</th>
    
      <td>{{this.zona}}</td>
    </tr>
   
  </tbody>
  </table>

    <div class="container">
      <h4>Empleados:</h4>
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="getTicketsEmpleado()">Empleado con mayor tickes asignados</button>
        <button class="btn btn-success" type="button" (click)="getTicketsSinResolverEmpleado()">Empleado con mayor tickets sin resolver</button>
        <button class="btn btn-success" type="button" (click)="getTicketsDeEmpleado()">Empleado con tickets</button>
      </div>
    </div>
    <br>
    <table class="table" *ngIf="empleado !== '' && ticketsEmpleados !== []">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Resultado de la consulta</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info">
        <th scope="row">#</th>
      
        <td>{{this.empleado}}</td>
      </tr>
     
    </tbody>
    </table>

      <div class="container">
        <h4>Clientes:</h4>
        <div class="d-grid gap-2">
          <button class="btn btn-success" type="button" (click)="getTicketsCliente()">Cliente con más tickets</button>
          <button class="btn btn-success" type="button" (click)="getTicketsClienteCentro()">Cliente ubicados a menos de 200km de un centros </button>
          <button class="btn btn-success" type="button" (click)="getClienteCentroLomasDeZamora()">Cliente ubicados cerca del centro-LomasDeZamora</button>
          <button class="btn btn-success" type="button" (click)="getTicketsCanales()">Ticket con más canales</button>
        </div>
      </div>

      <table class="table" *ngIf="cliente !== '' && ticketsEmpleados !== []">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Resultado de la consulta</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info">
            <th scope="row">#</th>
          
            <td>{{this.cliente}}</td>
          </tr>
         
        </tbody>
        </table>
  

</body>
</html>